* {
    margin: 0;
}

.logo {
    width: 200px;
    height: 80px;
    margin: -25px;
    position: relative;
    right: 150px;
    bottom: 4px;
}

.slogan {
    position: relative;
    top: 15px;
    right: 33px;
    z-index: 1;
    font-size: 12px;
    color: #2AAA8A;
}

.navbar {
    padding-bottom: -40px !important;
}

table,
td,
th {

    margin-top: 20px;
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse !important;
    padding: 10px;
}

.detailst {
    position: absolute;
    left: 20%;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: #191970;
    margin-left: 30px;
    position: relative;
    left: 170px;
}

.homecontent {
    background-image: url(/public/img/doctor.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;


}

.homecard {
    position: absolute;
    left: 50%;
    top: 40%;
}

.administration {
    box-shadow: 0px 0px 5px #2AAA8A;
    padding: 15px;

}

.admin {
    text-align: center;
    padding: 20px;
    color: #2AAA8A;

}

.administration a {
    margin-left: 150px;
}

.administration h1 {
    margin: 0%;
}

.doctorimg {
    width: 100%;
}




.aboutuscontent {
    background-image: url(/public/img/AboutusB.webp);
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #191970;


}

.footer {
    background-color: #191970;
    color: white;
    height: 80px;
}

.dcard1 {
    background-color: #2AAA8A;
    border: 2px solid #191970;
    margin: 10px 10px 40px 40px;
}

.appointmentapplication {
    box-shadow: 0 0px 5px black;
    padding: 15px;
    margin-left: 10%;
    margin-right: 10%;

}

.patientdetails1 {
    margin: 15px;
    border: 1px solid black;
}

.patientdetails h4 {
    margin: 0;
}

.roomal {
    text-align: center;
    padding: 20px;
    color: #191970;
}

.searchfield {
    width: 500px;
    /* align-self: center; */
    margin-left: 30% !important;
    border: solid black 2px !important;
    border-radius: 10px;
    /* padding: 10px !important; */
}