.logo {
    width: 200px;
    height: 80px;
    margin: -25px;
    position: relative;
    right: 150px;
    bottom: 4px;
}

.slogan {
    position: relative;
    top: 15px;
    right: 33px;
    z-index: 1;
    font-size: 12px;
    color: #2AAA8A;
}

.navbar {
    padding-bottom: -40px !important;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: #191970;
    margin-left: 30px;
    position: relative;
    left: 170px;
}

.homecontent {
    position: relative;
    left: 700px;
    bottom: 480px;
}

.homecard {
    position: relative;
    bottom: 450px;
}

.administration {
    box-shadow: 0px 0px 5px #2AAA8A;
    padding: 15px;
    /* color: #2AAA8A; */
}

.admin {
    text-align: center;
    padding: 20px;
    color: #2AAA8A;

}

.administration a {
    margin-left: 150px;
}

.administration h1 {
    margin: 0%;
}

.doctorimg {
    width: 100%;
}

.aboutimg {
    width: 100%;
    height: 600px;
    /* margin-bottom: 100px; */
}

.aboutuscontent {
    position: relative;
    bottom: 600px;
    padding: 10px;
    /* text-align: center; */
    /* height: 100%; */
}

.footer {
    background-color: #191970;
    color: white;
    height: 200px;
}

.dcard1 {
    background-color: #2AAA8A;
    border: 2px solid #191970;
    margin: 10px 10px 40px 40px;
}