* {
    margin: 0;
}

.logo {
    width: 200px;
    height: 80px;
    margin: -25px;
    position: relative;
    right: 150px;
    bottom: 4px;
}

.slogan {
    position: relative;
    top: 15px;
    right: 33px;
    z-index: 1;
    font-size: 12px;
    color: #2AAA8A;
}

.navbar {
    padding-bottom: -40px !important;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: #191970;
    margin-left: 30px;
    position: relative;
    left: 170px;
}

.homecontent {
    position: relative;
    background-image: url(/public/img/doctor.jpg);
    height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.hometext {
    position: relative;
    left: 50%;
    top: 30%;
    color: #191970;
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;

}



.administration {
    box-shadow: 0px 0px 5px #2AAA8A;
    padding: 15px;

}

.admin {
    text-align: center;
    padding: 20px;
    color: #2AAA8A;

}

.administration a {
    margin-left: 150px;
}

.administration h1 {
    margin: 0%;
}

.doctorimg {
    width: 100%;
}

.aboutimg {
    width: 100%;
    height: 600px;

}

.aboutuscontent {
    position: relative;
    background-image: url(/public/img/AboutusB.webp);
    height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #191970;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    padding: 50px 80px;

}

.contact {

    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
    text-align: center;

}

.contact h2 {
    color: #191970;
    background: #2AAA8A;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-transform: uppercase;
}

.footer {
    background-color: #191970;
    color: white;
    height: 135px;

}

.dcard1 {
    background-color: #2AAA8A;
    border: 2px solid #191970;
    margin: 10px 10px 40px 40px;
}

.appointmentapplication {
    box-shadow: 0 0px 5px black;
    padding: 15px;
    margin-left: 10%;
    margin-right: 10%;

}

.patientdetails1 {
    margin: 15px;
    border: 1px solid black;
}

.patientdetails h4 {
    margin: 0;
}

.partientdetailsnavbar {
    box-shadow: 0px 0px 5px #2AAA8A;
    padding: 15px;
}

.partientdetailsnavbar a {
    color: #191970;
    margin-left: 150px;
}

.roomal {
    text-align: center;
    padding: 20px;
    color: #191970;
}